# API
uvicorn
fastapi==0.72.0
fastapi-crudrouter==0.8.4
uvicorn==0.17.0
ormar==0.10.24
aiosqlite==0.17.0
alembic==1.7.5
websockets

#GPS - Stemma MiniGPS
pa1010d
pynmea2==1.18.0

#bluetooth
bleak==0.19.0
pycycling==0.2.2

# Utils
backoff==1.11.1

# Pressure/Temp
adafruit-circuitpython-bmp3xx

# IO Expander
pimoroni-ioexpander
adafruit-circuitpython-seesaw

# Camera
picamera2

# GPX 
gpxpy==1.5.0

# Random name generator for ride names:
randomname==0.1.5









